# This workflow will build a golang project for Windows
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Build Windows binary
      run: GOOS=windows GOARCH=amd64 CGO_ENABLED=0 go build -a -ldflags '-extldflags "-static" -s -w' -o dist/${{ github.event.repository.name }}-windows-amd64.exe

    - name: Compress binary
      run: gzip dist/${{ github.event.repository.name }}-windows-amd64.exe

    - name: Upload binary to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/${{ github.event.repository.name }}-windows-amd64.exe.gz
        asset_name: ${{ github.event.repository.name }}-windows-amd64.exe.gz
        tag: ${{ github.ref }}
